/* Обнуление */
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: var(--dark);
}
a:visited {
  color: black;
}
ul,
ol,
li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}
button {
  font-family: inherit;
}
/* ___________________________________________________________________________________________________________________________________________________ */
:root {
  --iris: #4d5ae5;
  --subtle-text: #8e8f99;
  --text: #434455;
  --light: #f4f4fd;
  --dark: #2e2f42;
  --accent: #e7e9fc;
  --success: #31d0aa;
}
body {
  font-family: "Roboto", sans-serif;
  color: var(--dark);
  letter-spacing: 0.02em;
}

.container {

  padding-left: 16px;
  padding-right: 16px;
  margin: 0px auto;
}
header {
  box-shadow: 0 2px 2px -1px #ececec;
}



/* ___________________________Header_______________________________________ */
.logo {
  color: var(--dark);
  /* margin-right: 77px; */
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.logo:hover {
  color: var(--text);
}
.logo:focus {
  color: var(--iris);
}
.web {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  text-transform: uppercase;
  color: var(--iris);
  letter-spacing: 0.03em;
}
.studio {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  text-transform: uppercase;
  letter-spacing: 0.03em;
}
.navigation{
  /* position: relative; */
  padding: 24px 16px;

}
header>div{
  position: relative;
}
.contacts{
  display: none;
}
.contacts-mobile {
  color: var(--dark);
  cursor: pointer;

  margin-left: auto;
  margin-bottom: 48px;
}
.navigation-item {
font-weight: 600;
font-size: 36px;
line-height: 1.11;
text-transform: capitalize;
color: #2E2F42;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-list-mobile{
  margin-bottom: calc(284px - 10%);
}
.nav-list{
  display: none;

}
/* .navigation-item:hover {
  color: var(--text);
} */
.navigation-item:focus, .navigation-item:hover {
  color: var(--iris);
}
.nav-list-mobile>li:not(:last-child){
  margin-bottom: 40px;
}
.contacts-item1-mobile {
  display: inline-block;
font-weight: 600;
font-size: 30px;
line-height: 1.11;
text-transform: capitalize;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-right: 40px;
  margin-bottom: 40px;
}
/* .contacts-item1:hover {
  color: var(--text);
} */
.contacts-item1-mobile:focus, .contacts-item1-mobile:hover {
  color: var(--iris);
}
/* .contacts-item2-mobile {
  display: inline-block;
  font-weight: 600;
  font-size: 20;
  line-height: 1.2;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
} */
/* .contacts-item2:hover {
  color: var(--text);
} */
.contacts-item2-mobile:focus, .contacts-item2-mobile:hover {
  color: var(--iris);
}
/* .mobile-menu{
display: none;
padding: 80px 0px 40px 40px;
padding-left: 40px;
} */

/* .mobile-menu.is-open{
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
  width: 100%;
  height: 796px;
} */

.btn-burger{
background-color: transparent;
position: absolute;
top: 50%;
right: 16px;
transform: translateY(-50%);
cursor: pointer;
width: 32px;
height: 22px;

}
.icon-menu{
  stroke: currentColor;
}
.icons-menu-mobile{
    display: flex;
  padding-top: 4px;
  padding-bottom: 4px;
  align-items: center;
    justify-content: center;
}
.icons-menu-mobile>li:not(:last-child){
  margin-right: 50px;
  
}



.menu {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}

.menu .link {
  padding: 10px;
  color: inherit;
  text-decoration: none;
}
.menu .link:hover,
.menu .link:focus {
  text-decoration: underline;
}

.menu-toggle {
  min-height: 24px;
  min-width: 24px;
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
}

.menu-container.is-open .menu-toggle{
  background-color: #E7E9FC;
width: 24px;
height: 24px;
}
.menu-toggle:hover,
.menu-toggle:focus {
  background-color: rgba(0, 0, 0, 0.1);
}
.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 32px;
  background-color: #fff;
  z-index: 999;

  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
  overflow-y: scroll;
}
.menu-container.is-open {
  transform: translateX(0);
}

.menu-container .menu-toggle {
  position: absolute;
  top: 16px;
  right: 16px;
  color: var(--text);
  width: 8px;
  height: 8px;
}

.mobile-menu {
  padding: 0;
  margin: 0;
  list-style: none;
}

.mobile-menu .link {
  display: block;
  padding: 10px;
  color: #fff;
  text-decoration: none;
}



































/* ________________________________________Index__________________ */

.main-info {
  background-color: var(--dark);

  /* min-width: 468px; */
  /* height: 432px; */

  margin-left: auto;
  margin-right: auto;
  max-width: 1600px;
  padding: 112px 55px;

  background-image: linear-gradient(
      to right,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/main/hero.jpg);

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

}
.main-text {
font-weight: 600;
font-size: 36px;
line-height: 1.11;
text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;
color: #FFFFFF;

}
.order-button {
  background-color: var(--iris);
  color: var(--light);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.04em;
  cursor: pointer;

  margin: 0 auto;
  display: block;
  margin-top: 80px;
  padding: 16px 32px;
  /* transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1); */
}
/* ___________________Modal_______________ */

.backdrop {
  z-index: 999;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
    overflow-y: scroll;

}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 100%;
  height: 579px;
  background-color: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 72px 24px 24px 24px;

}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.2);
}
.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  right: 0;

}
.close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
cursor: pointer;
  height: 24px;
  width: 24px;
  background-color: #e7e9fc;
  border-radius: 50%;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
                  display: flex;
                justify-content: center;
                align-items: center;
}

.close-btn:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);

}
.close-icon {
  width: 8px;
  height: 8px;
  fill: #000;


}

textarea {
  resize: none;
  /* color: rgba(117, 117, 117, 0.5); */
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}
.contact-form {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #8e8f99;

  display: flex;
  flex-direction: column;

  width: 360px;
}

.modal h3 {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;

}
.contact-input {
  width: 100%;
  font-size: 18px;
  text-indent: 20px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 8px 0 8px 16px;
  background-color: transparent;
}
.contact-input {
  height: 40px;
}

.contact-input:focus + span {
  fill: var(--iris);
}

.contact-input:focus {
  outline: var(--iris);
  border-color: var(--iris);
}
.modal-icons {
  position: relative;
}

.icon-svg {
  position: absolute;

  width: 12px;
  height: 12px;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
}
.field {
  margin-bottom: 4px;
  position: relative;
  margin-top: 8px;

}
.label-usen-name{
  margin-top: 16px;

}
.contact-form label:last-child {
  margin-bottom: 0;
  height: 16px;
  display: flex;
    align-items: center;
}
.contact-form textarea {
  padding: 8px 0 0 16px;
  background-color: transparent;

}
textarea:focus {
  outline: var(--iris);
  border-color: var(--iris);
}
textarea::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 0.5);
}
.checkbox-flex {
  display: flex;
  align-items: center;
  margin-top: 16px;
}
.svg-click{
width: 16px;
height: 16px;
border: 1.25px solid #2E2F42;
border-radius: 2px;
margin-right: 8px;
}
.checkbox-input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.checkbox-input:checked+label>span>svg{
background-color: #4D5AE5;
  border:none;
  outline: var(--iris);
background-origin: border-box;

}
.submit-btn {
  background: #4d5ae5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  display: flex;
  align-items: center;
  text-align: center;
  margin: 24px auto 0 auto;
  cursor: pointer;

}
.btn-text {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.04em;
  color: #ffffff;

  width: 106px;
  margin: 16px 32px;
}
.privacy-policy {
  color: var(--iris);
  cursor: pointer;
}
.privacy-policy:visited {
  color: var(--iris);
}

/* ________________________________________________________________ */





.features {
  padding: 96px 0;
}
.feature-main {
  color: transparent;
  font-size: 0;
}



.feature-img{
  display: none;
}
.feature-title {
  font-weight: 600;
font-size: 36px;
line-height: 1.11;
text-align: center;
text-transform: capitalize;

/* width: 396px; */
  margin-bottom: 8px;
}
.feature-text {
  display: block;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 600;
color: var(--text);
width: 356px;
}





.what-we-do {
display: none;}






.our-team {
  background-color: var(--light);
  padding: 96px 0;

  text-align: center;
  /* padding-top: 120px; */
}
.our-team-title {
  font-weight: 600;
  font-size: 36px;
  line-height: 1.11;
  text-transform: capitalize;
  
  margin-bottom: 72px;
}
.our-team-list {
  /* display: flex; */
}
.our-team-cards {
  width: 264px;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;

  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}



.our-team-img {
  /* display: inline-block; */
}
.our-team-name-position {
  padding: 32px 0;
  width: 264px;
}
.our-team-name {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;

  margin-bottom: 8px;
}
.our-team-position {
  color: var(--text);
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  margin-bottom: 8px;
}


.icons {
  display: flex;
  padding-top: 4px;
  padding-bottom: 4px;
  align-items: center;
    justify-content: center;
}
.icons li:not(:last-child) {
  margin-right: 24px;
}
.icon-social-team {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: var(--iris);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-social-team:hover,
.icon-social-team:focus {
  background-color: #31d0aa;
}
.icon {
  width: 16px;
  height: 16px;
  margin-top: 4px;
  margin-bottom: 4px;
}








.section-customers {
  padding-top: 96px;
  /* padding-bottom: 120px; */
}
.customers-main-text {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--dark);

  margin-bottom: 72px;
}
.list-customers {
  height: 488px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  /* padding: 16px; */
justify-content: space-around;
}
.customer-items {
  width: calc(((100% - 2*16px)/2));

}
.icon-customers {
  /* margin: 16px; */
  fill: #8e8f99;
  width: 100%;
  height: 88px;

  /* transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), */
    /* border 250ms cubic-bezier(0.4, 0, 0.2, 1); */
}
.icon-customers:hover {
  fill: var(--iris);
  border: 1px solid var(--iris);
  border-radius: 7px;
}
.customer-items a {
  
  color: #8e8f99;
  /* display: flex; */
  /* border-radius: 7px; */
}
.customer-items a:focus {
  color: var(--iris);
}
.icon-customers {
  fill: currentColor;
  border: 1px solid currentColor;
  border-radius: 7px;
}


/* _____________________Footer_________________+__________ */



footer {
  background-color: var(--dark);
  padding: 96px 0;

}
.footer-flex{
  /* display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center; */
}
.footer-text {
  margin-left: auto;
  margin-right: auto;
  width: 268px;
 text-align: center;
 margin-bottom: 72px;

}
.footer-info {
  font-size: 16px;
  line-height: 1.5;
  color: var(--light);
text-align: left;
  /* max-width: 264px; */
}
.logo-footer {
  display: inline-block;

  margin-bottom: 16px;
}
.studio-footer {
  color: var(--light);
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  text-transform: uppercase;
}
.social-footer {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-left: auto;
  margin-right: auto;
  width: 208px;
  text-align: center;
  margin-bottom: 72px;
}
.social-footer p {
  margin-bottom: 16px;

}

.icons-footer {
  display: flex;
}

.social-link-footer {
  display: flex;
  /* flex-wrap: wrap; */
  width: 40px;
  height: 40px;
  background-color: rgb(67, 68, 85);
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icons-footer li:not(:last-child) {
  margin-right: 16px;
}
.icon-footer {
  width: 24px;
  height: 24px;
}

.social-link-footer:hover,
.social-link-footer:focus {
  background-color: #31d0aa;
}

.sub-form {
display: flex;
flex-wrap: wrap;
align-items: center;
justify-content: center;
}
.sub-text-mobile {
width: 100%;

  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;

  color: #ffffff;
  text-align: center;

  margin-bottom: 16px;

}
.sub-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  background-color: var(--iris);
  letter-spacing: 0.06em;
  border-radius: 4px;
  color: #ffffff;
  padding: 8px 64px 8px 24px;
  cursor: pointer;



}
.sub-btn span {
  position: relative;
}
.sub-decoration {
display: flex;
flex-wrap: wrap;
align-items: center;
justify-content: center;
}
.sub-text-mobile input {
  /* min-width: 290px; */
  width: 100%;
  margin-left: auto;
  margin-right: auto;


  background-color: var(--dark);
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  height: 40px;

  text-indent: 16px;

  color: #fff;
  margin-top: 16px;

}
.sub-svg {
  position: absolute;

  top: 50%;
  left: 120px;
  transform: translateY(-50%);
  width: 24px;
  height: 20px;
}
.sub-svg-decoration {

  display: block;
    margin-right: auto;
  margin-left: auto;
  position: relative;
}
.sub-text-mobile input::placeholder {
  text-indent: 16px;
  font-size: 12px;
  line-height: 2;
  display: flex;
  align-items: center;
  letter-spacing: 0.04em;
  color: rgba(255, 255, 255, 0.6);
}







@media (max-width: 767px) {
  .menu {
    display: none;
  }
  .backdrop{
  }
  .our-team-cards:not(:last-child){
  margin-bottom: 72px;
}
.sub-input{
  display: none;
}
.sub-text{
  display: none;
}
.feature:not(:last-child) {
  margin-bottom: 72px;
}
}



@media (min-width: 768px) {
  .container{
    width: 768px;
    margin: 0 auto;
  }
  .menu-toggle {
    display: none;
  }
  .nav-list{
    display: flex;

  }
  .menu-container{
    display: none;
  }
.sub-text-mobile{
  display: none;
}
.sub-text {
  display: block;
width: 100%;

  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;

  color: #ffffff;

  margin-bottom: 16px;
}
.sub-input input::placeholder {
  text-indent: 16px;
  font-size: 12px;
  line-height: 2;
  display: flex;
  align-items: center;
  letter-spacing: 0.04em;
  color: rgba(255, 255, 255, 0.6);
}
.sub-input input {
  /* min-width: 290px; */
  width: 264px;
  margin-left: auto;
  margin-right: auto;

  background-color: var(--dark);
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  height: 40px;
  text-indent: 16px;
  color: #fff;
}
.contacts{
    display: block;
}
  .navigation{
    display: flex;

  }

  .navigation-item{
    font-weight: 600;
font-size: 16px;
line-height: 1.5;
position: relative;

  }
.current-list::after {
    content: "";
    position: absolute;
    bottom: -28px;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: var(--iris);
    border-radius: 2px;
}

  .flex-decoration{
    display: flex;
  }
  .modal{
    max-width: 408px;  
  }
  .feature-list{
    display: flex;

  }


}

@media (min-width: 768px) and (max-width:1199px){
.logo{
    margin-right: 121px;
  }
  .contacts{
  padding: 20px  10px 10px 0;
  position: absolute;
  top: 0;
  right: 15px;
  }

  .navigation{
    margin-right: 10%;
    position: relative;
  }

   .nav-list>li:not(:last-child){
    margin-right: 40px;
   }


  .feature-list{
    flex-wrap: wrap;
  }
  .feature{
    width: 356px;
  }
  .feature:nth-child(odd){
    margin-right: 24px;
  }
  .feature-title{
    text-align: left;
  }
  .our-team-list{
    display: flex;
    flex-wrap: wrap;

  }
  .our-team-cards:nth-child(odd){
    margin-left: 82px;
    margin-right: 24px;
  }
  .our-team-cards:nth-child(even){
    margin-left: 0;
    margin-right: 82px;
  }
  .our-team-cards:nth-child(1), .our-team-cards:nth-child(2) {
    margin-bottom: 72px;
  }
  .list-customers{
    width: 552px;
    height: 362px;
    margin-right: auto;
    margin-left: auto;
  }
  .customer-items {
  width: calc(((100% - 3*24px)/3));

}


.footer-flex{
  display: flex;
  flex-wrap: wrap;
}



.sub-form{

  width: 456px;
  margin-left: 82px;
  margin-right: 188px;
  justify-content: left;
}
.sub-input{
  margin-right: 23px;
}
.footer-text{
  text-align: left;
  margin-left: 92px;
}
.social-footer{
  text-align: left;

margin-right: 147px;

}
}

@media (min-width:1200px) {
  .feature-img{
      display: flex;
    background-color: var(--light);
    width: 264px;
    height: 112px;
    align-items: center;
    justify-content: center;
    margin-bottom: 8px;
}
.icon-feature {
    width: 64px;
    height: 64px;
}
.feature:not(:last-child) {
    margin-right: 24px;
}
.feature {
    width: 264px;
    margin-bottom: 0;
}
}